{% extends 'registration/base-singup.html' %}

{% block title %}
	تایید شد!
{% endblock %}

{% block content %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">فعال شدن اکانت</h3>
            </div>
            <div class="card-body py-4">
                <form method="post">
                    <p class="py-2">اکانت با موفقیت فعال شد حالا با لینک زیر به اکانت خود وارد شوید.</p>
                    <p class="py-2"><a href="{% url 'account:login' %}">ورود</a></p>
                    

                </form>
            </div>
        </div>
    </div>
{% endblock %}