{% extends 'blog/base-new.html' %}
{% load crispy_forms_tags %}



{% block title %}<title>گذرواژه خود را فراموش کردید؟</title>{% endblock  %}

{% block main %}
    <div class="container">
        <div class="col-6">
            <h1>گذرواژه خود را فراموش کردید؟</h1>            
            <p>
                آدرس ایمیل خود را در زیر وارد کنید، و ما لینک تغییر رمز عبور  را برای شما ارسال می کنیم.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="ارسال ایمیل">
            </form>
        </div>
    </div>
{% endblock %}



{% block footer %}
	
{% endblock %}