{% extends 'blog/base-new.html' %}

{% block title %}<title>ارسال ایمیل</title>{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-6">
        
            <h1 style="font-family: 'Vazir', Arial, sans-serif">صندوق وررودی ایمیل خود را بررسی کنید</h1>
            <p style="font-family: 'Vazir', Arial, sans-serif">
                ما دستورالعمل های تنظیم رمز عبور را برای شما ایمیل کرده ایم.
شما باید به زودی ایمیل را دریافت کنید!                
                <p style="font-family: 'Vazir', Arial, sans-serif">در صورت مشاهده نکردن ایمیل به پوشه تخت عنوان اسپم رفته و آنجا را نیز بررسی کنید.</p>
                <p style="font-family: 'Vazir', Arial, sans-serif">در صورتی که ایمیل را دریافت نکردید با پشتیبانی سایت تماس بگیرید!</p>
            </p>
        </div>
    </div>
    <div class="col-6"></div>
{% endblock %}

{% block footer %}
	
{% endblock %}