{% extends 'blog/base-new.html' %}

{% block title %}تغییر گذرواژه انجام شد{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-6">
            <h1>گذرواژه با موفقیت تغییر یافت</h1>            
            <p>گذرواژه جدید ذخیره شده است.</p>
            <p>حالا شما میتوانید به صفحه 
                <a href="{% url 'account:login' %}"> صفحه ورود </a>
                بروید و وارد اکانت خود شوید
            </p>            
        </div>
    </div>
    
{% endblock %}