{% extends 'blog/base-new.html' %}
{% load crispy_forms_tags %}

{% block title %}
    تغییر گذرواژه
{% endblock %}

{% block main %}
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
            </div>
            {% if validlink %}
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                      <div class="row">
                        <div class="col-6">
                             {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="col-6">
                             {{ form.new_password2|as_crispy_field }}
                        </div>

                    </div>
                        <button class="btn btn-success">تغییر گذرواژه</button>
                    </form>
            </div>
            {% else %}
                <p class="myfont">لینک منقضی شده است. برای بازیابی رمز عبور دوباره <a style="color: red; font-family: 'Vazir', Arial, sans-serif" href="{% url 'password_reset' %}">کلیک</a> کنید.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}