{% extends 'registration/base-singup.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
	    <div class="container">
        <div class="col-6">
            <h1>فرم ثبت نام</h1>
            <h2>{{ error }}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-success" {% url 'account:admin-home' %}]>Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}
